[workspace]
authors = ["keanesc <145848994+keanesc@users.noreply.github.com>"]
channels = ["conda-forge"]
name = "decryptx-helper"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]

[dependencies]
python = "3.12.*"
